
!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    link(href="/stylesheets/spacelab.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/bootstrap-responsive.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/common.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/fontawesome.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/project.css', media='screen', rel='stylesheet', type='text/css')
    link(href='stylesheets/demo.css', media='screen', rel='stylesheet', type='text/css')
    //
       Typekit fonts require an account and a kit containing the fonts used. see https://typekit.com/plans for details. <script type="text/javascript" src="//use.typekit.net/YOUR_KIT_ID.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    title Demo
  body
    .container-fluid
      .row-fluid
        span.span12
          .page-header
            h1
              | Digestination
              small Making the most of your Destination
      .row-fluid
        span.span6
          form(action="/addUser", method="POST")
            p.p-2 Where are you headed?
            input#location.textinput.pull-center(type='text', name='Shane', placeholder='Location')
            button.btn.pull-center.btn-1 See a sample digest
            p.p-1 When do you leave?
            input#departure.textinput.pull-center(type='text', name='', placeholder='mm/dd/yyyy')
            p.p-1 When do you return?
            input#return.textinput.pull-center(type='text', placeholder='mm/dd/yyyy', name='')
            p.p-3 Name
            input#name.textinput.pull-center(type='text', name='', placeholder='')
            p.p-4 Email
            input#email.textinput.pull-center(type='text', placeholder='', name='')
            label.radio
              input(type='radio', value='', name='')
              span Radio button
            label.radio
              input(type='radio', value='', name='')
              span Radio button
            label.radio
              input(type='radio', value='', name='')
              span Radio button
            label.radio
              input(type='radio', value='', name='')
              span Radio button
            button.btn.pull-center Submit
          div
        span.span6
          .well.pull-right
            img#sample.image(src='https://lh3.googleusercontent.com/tvK3uDm5seu7hBBm1PyiJA_v_FLJzSnU6gJMRkO87bSkHNfAyrpx-O5Mkm6K458nvQ=w1423-h641')
