html {
  background-color: #efede8;
  background-image: url(../images/demo-background.jpg);
  background-repeat: repeat;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
.container-fluid .row-fluid .span12 .page-header {
  background: rgba(0, 0, 0, 0.843137);
  width: 1400px;
}
.container-fluid .row-fluid .span12 .page-header h1 {
  color: #cac6c6;
}
.container-fluid .row-fluid .span12 .page-header h1 small {
  color: #cac6c6;
}
.container-fluid .row-fluid .span6 form {
  padding: 0px 0px 0px 200px;
  height: 521px;
  width: 320px;
}
.container-fluid .row-fluid .span6 form p {
  text-align: center;
  color: #cac6c6;
  font-size: 23px;
}
.container-fluid .row-fluid .span6 form p.p-1 {
  background: rgba(0, 0, 0, 0.862745);
}
.container-fluid .row-fluid .span6 form p.p-2 {
  background: rgba(0, 0, 0, 0.866667);
}
.container-fluid .row-fluid .span6 form .btn.btn-1 {
  margin-bottom: 10px;
}
.container-fluid .row-fluid .span6 form p.p-3 {
  background: rgba(0, 0, 0, 0.780392);
}
.container-fluid .row-fluid .span6 form p.p-4 {
  background: rgba(0, 0, 0, 0.843137);
}
.container-fluid .row-fluid .span6 .well {
  padding: 0px 0px 19px 0px;
  height: 628.777777671814px;
  width: 359.77777767181396px;
}
#sample {
  height: 629px;
  width: 360px;
}

#hero-container, #signup-form input, #signup-form button, #nav-bar.brand {
   font-family: ‘Merriweather’, Georgia, serif; 
}
#signup-form {
  padding: 20px 15px;
  position: relative;
  min-height: 28px;
}
#signup-form input {
  position: absolute;
  left: 15px;
  right: 100px;
  width: auto;
}
#signup-form button {
  float: right;
}
